@import "skeleton.css";

table td>form {
    margin: 0;
}

#alert {
    z-index: -1;
    margin-left: 0 !important;
    width: 170px;
}

#alert.in{
    opacity: 0.66;
    z-index: 1000;
}

#alert.in:hover {
    opacity: 1;
}

.icon-plus,
.icon-check,
.icon-check-empty  {
    color: #0085CC;
}

.icon-remove {
    color: rgb(170, 11, 14);
}

.place-list-item-header{

    padding: 8px;
    border: none;
    border-radius: 4px 4px 0 0;
    color: white;

    background-image: linear-gradient(bottom, rgb(0,133,204) 0%, rgba(0,133,204, 0.66) 65%);
    background-image: -o-linear-gradient(bottom, rgb(0,133,204) 0%, rgba(0,133,204, 0.66) 65%);
    background-image: -moz-linear-gradient(bottom, rgb(0,133,204) 0%, rgba(0,133,204, 0.66) 65%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,133,204) 0%, rgba(0,133,204, 0.66) 65%);
    background-image: -ms-linear-gradient(bottom, rgb(0,133,204) 0%, rgba(0,133,204, 0.66) 65%);

    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, rgba(0,133,204, 1)),
        color-stop(0.65, rgba(0,133,204, 0.66))
    );
}
.place-list-item-header .name{
    font-size: 120%;
    text-shadow: 0px -1px 0px rgb(78, 78, 78);
}

/*PLACE RECOMMENDED*/
.place-recommended-list {
    border: 1px solid #d4d4d4;;
    border-radius: 5px;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fdfdfd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);;
}

.recommended-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #999999;
    width: 100%;
}

.place-recommended {
    width: 80px;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    height: 90px;
    position: relative;
}

.place-recommended-caption {
    position: absolute;
    top: 0;
    padding: 3px;
    right: 0;
    left: 0;
    color: #777;
    background: rgba(255, 255, 255, 0.73);
}

.place-recommended-controls {
    position: absolute;
    bottom: 0;
    padding: 3px;
    right: 0;
    left: 0;
    color: #777;
    background: rgba(255, 255, 255, 0.73);
    opacity: 0;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.place-recommended:hover .place-recommended-controls {
    opacity: 1;
    z-index: 100;
}

/*COMMENTS*/

.comments {

}

.comments-title {
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
}

.comment-body {
    background-color: #fafafa;
    border: 1px dashed #ccc;
    padding: 10px;
    border-radius: 6px;
}

.comment-user {
    font-size: 120%;
    margin-bottom: 10px;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-footer {
    font-size: 70%;
    color: darkgray;
    margin-bottom: -5px;
}