@import "skeleton.css";

table td>form {
    margin: 0;
}

#alert {
    z-index: -1;
    margin-left: 0 !important;
    width: 170px;
}

#alert.in{
    opacity: 0.66;
    z-index: 1000;
}

#alert.in:hover {
    opacity: 1;
}

.places-list-render-wrapper {
    background-color: #fdfdfd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    padding: 5px;
    border: 1px solid #d4d4d4;
}

