/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "user.css";

body * {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

a {
    color: black;
}

a:hover {
    color: #696969;
}

a:visited {
    color: grey;
}

body {
    margin: auto;
    padding: 0px;

    /*background-image: url('../images/background.png');*/
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 11pt;
    width: 100%;
    height: 100%;
}

.table {
    display: table;
    border: none;
}


.table-cell {
    display: table-cell;
}


.clear {
    clear: both;
}

.page-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -50px;
}

.page-central-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.page-shadow {
    box-shadow: 0px 0px 100px grey;
}

fieldset {
    border: none;
    padding: 1ex;
    margin: 1ex;
}

/*Command elements*/
input[type="submit"], input[type="button"]{
    background-color: #cd853f;
    padding: 1ex 3ex;
    font-weight: bold;
    /*float: right;*/
    font-size: 110%;
    border: none;
    box-shadow: none;
    min-width: 7em;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color:  rgba(166, 113, 62, 1);
}

/*header styles*/
.header {
    padding: 1ex;
    background-color: #312903;
    text-align: right;
    color: #ffffff;
    height: 2.5ex;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header a:hover {
    color: rgba(226, 226, 226, 0.53);
}

.header a:visited {
    color: #ffffff;
}


.header div.logo {
    float: left;
}

ul.user-menu {
    display: inline;
    line-height: 20px;
}


ul.user-menu li {
    display: inline;
    font-weight: bold;
}

ul.user-menu li:not(#last-elem):after  {
    content: "\020 \07C \020";
}

/*Footer styles*/
.footer-buffer {
    height: 50px;
    /*for footer*/
}

.footer {
    height: 50px;
    background-color: #312903;
    max-width: 1920px;
    color: #ffffff;
    font-size: 70%;
    padding: 1ex 0;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: rgba(226, 226, 226, 0.53);
}

.footer a:visited {
    color: #ffffff;
}

/*Promoted*/
.promoted {
    height: 250px;
    width: 100%;
    background-color: #d77d31;
    text-align: center;
}

.promoted h1 {
    color: grey;
    padding-top: 80px;
    font-size: 75px;
    text-shadow: 1px 1px 1px lightgrey, -1px -1px 1px #111111;
}

/*Menu*/
.menu {
    min-width: 150px;
    min-height: 100%;
    font-size: 80%;

}

.menu .menu-elements-list {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.35);
    border-right: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;

}

.menu .menu-element {
    border-left: 5px solid rgba(255, 255, 255, 0.0);
    padding: 1ex 2ex 1ex 1ex;
}

.menu .menu-element:not(.category) {
    padding-left: 3ex;
}

.menu .menu-element:not(.wrapper):hover {
    border-left: 5px solid #8b4513;
    color: #8b4513;
    opacity: 0.66;
    cursor: pointer;
}

.hover {
    border-left: 5px solid #8b4513 !important;
    color: #8b4513;
    opacity: 0.66;
}

.menu .wrapper {
    padding: 0;
    height: 3ex;
}

/*Page*/

.page {
    height: 100%;
    min-height: 100%;
    background-color: rgba(255, 239, 208, 0.67);
}

table.page {
    border-collapse:collapse;
}

table.page td {
    vertical-align: top;
    padding: 0;
}

.page-cell {
    width: 100%;
}
.content-wrapper {
    width: 674px;
    padding: 1ex;
    margin: auto;
}

/*TOPs*/
.top {
    width: 100%;
}

.book-list-header {
    margin: 5px 5px 5px 5px;
    padding: 1ex 3ex 1ex 1ex;
    color: #fff;
    font-size: 1.4em;
    background-color: #177245;
    /*text-shadow: 1px 1px lightgrey;*/
}

.top-free, .top-nonfree{
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    height: 480px;
    float: left;

    padding: 5px;
}

.book {
    float: left;
    width: 140px;
    height: 140px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

.rotate {
    position: absolute;
    top: 33%;
}

.book {
    background-color: #d77d31;

    background: -webkit-linear-gradient(0deg, #d77d31, #d98830);
    background: -o-linear-gradient(0deg, #d77d31, #d98830);
    background: -moz-linear-gradient(0deg, #d77d31, #d98830);
    background: -ms-linear-gradient(0deg, #d77d31, #d98830);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d77d31', endColorstr='#d98830');
}

.book:hover {
    outline: 3px solid #dfceb0;
    cursor: pointer;
}

.first {
    width: 300px;
    margin: 5px 0px 5px 5px;
}

#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    text-align:left;
}

h1 {
    margin: 0;
    color: #66490e;
    font-size: 1.7em;
}

.content {
    margin-top: 3ex;
}
