/*ADD PLACE*/


img.place-img-small {
    width: 24px;
}

img.place-img-medium {
    width: 48px;
}

img.place-img-standart {
    width: 64px;
}

img.place-img-big {
    width: 128px;
}

.places-table tr.visited {
    background-color: #d0d0d0 !important;
    background-image: url('/images/stripe.png');

}

.places-table tr.visited td {
    background-image: url('../images/stripe.png');
}

.places-table td{
    vertical-align: middle;
}

.places-table tr:first-of-type td{
    border: none;
}

.places-table tr.visited td{
    opacity: 0.6;
}

.places-table tr {
    cursor: pointer;
}

.places-table tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
    background-color: rgba(0, 0, 0, 0.08);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.places-table tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.places-table tr td .control {
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.places-table tr:hover {
    background-color: white;
}

.places-table tr:hover td {
    background: white !important;
    opacity: 1;
}

.places-table tr:hover td .control {
    opacity: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#add-date-icon {
    display: block;
    height: 20px;
    padding: 2px 2px 2px 24px;
    margin: 3px 0;
    background: rgba(138, 190, 237, 0.26) url("../images/calendar-grey.png") no-repeat;
    outline: 1px solid #ccc;
    outline-offset: 2px;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    text-decoration: none !important;
}

#add-place-input {
    border-radius: 0;
}
