html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background: url("../images/fabric-plaid.png");
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

.control {
    cursor: pointer;
}

.control img {
    width: 20px;
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.control img:hover {
    width: 20px;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

/*CHECKBOXES*/
input[type=checkbox] {
    margin-top: 0 !important;
    background-color: #ffffff;
}

#place-to-visit {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.alert ul {
    margin: 0 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter !important;
}


/* LEFT COLUMN STYLES */
.greeting-section {
    font-size: 80%;
    margin-bottom: 10px;
}

.greeting-section a {
    text-decoration: none;
}
.nav-list {
    padding-right: 0;
}

.nav-header {
    text-align: right;
    padding-right: 0;
}

/*header*/
.header-page {
    position: relative;

    /* Recent browsers */
    background: -webkit-gradient(
        linear,
        left top, right top,
        from(rgb(170, 11, 14)),
        to(rgba(255,255,255,0))
    );
    background: -webkit-linear-gradient(
        left,
        rgb(170, 11, 14),
        rgba(255,255,255,0)
    );
    background: -moz-linear-gradient(
        left,
        rgb(170, 11, 14),
        rgba(255,255,255,0)
    );
    background: -o-linear-gradient(
        left,
        rgb(170, 11, 14),
        rgba(255,255,255,0)
    );
    background: linear-gradient(
        left,
        rgb(170, 11, 14),
        rgba(255,255,255,0)
    );

    /*background: rgb(170, 11, 14);*/
    color: #fff;
    text-align: left;
    font-size: 24px;
    padding: 0.8em 1.6em; /* Adjust to suit */
    /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the header-page 'graphics' take up 24px themselves so we double it. */
    margin: 0 auto 1em -1.8em;
}
.header-page:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.header-page .header-page-content:before{
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #75181b transparent transparent transparent;
    bottom: -1em;
}
.header-page .header-page-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

/*AD CAROUSEL*/
#myCarousel img {
    height: 250px;
    margin: auto;
}

#myCarousel:hover .carousel-caption{
    opacity: 0.75;
}

.carousel-caption{
    font-size: 80%;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.carousel-caption{
    font-size: 80%;

}

#myCarousel {
    background-color: #ebebeb;
    box-shadow: 0 0 12px #b8b6b5;
}

.container-fluid {
    width: 920px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 12px #dcdad9;
}

